<% provide(:title, "Change Product Recalls") %>

<div class="center hero-unit">
  <h1 style="font-size:50px;">Welcome to the Product Recalls</h1>
  <h2>
Change Product Recalls
  </h2>
</div>
<table align="center" width="90%">
	<tr>
		<td align="center">
			<div>
				<i>Consumer Products</i>
				<div style="width:140px;height:100px;overflow-x:hidden;overflow-x:auto;">
					<a href="http://www.cpsc.gov/en/Recalls/2013/Meijer-Recalls-Touch-Point-Baseboard-Convection-Heaters/">Meijer Recalls Touch Point Baseboard Convection Heaters Due to a Fire Hazard</a>
					<br/><br/>
					<a href="http://www.cpsc.gov/en/Recalls/2013/Toro-Recalls-Zero-Turn-Riding-Mowers/">Toro Recalls Zero Turn Riding Mowers Due to Fire Hazard</a></div>
			</div>
		</td>
		<td align="center">
			<div>
				<i>Foods, Medicines, Cosmetics</i>
				<div style="width:140px;height:100px;overflow-x:hidden;overflow-x:auto;">
					<a href="http://www.fda.gov/Safety/Recalls/ucm351865.htm">Additional Lots Added: Voluntary Nationwide Recall of 21 Lots of Piperacillin and Tazobactam for Injection, USP 40.5 Grams Due to Possibility of Precipitation / Crystallization in IV Bag or IV Line Upon Reconstitution</a>
				</div>
			</div>
		</td>
		<td align="center">
			<div>
				<i>Meat and Poultry Products</i>
				<div style="width:140px;height:100px;overflow-x:hidden;overflow-x:auto;">
					<a href="http://www.fsis.usda.gov/News_&Events/Recall_035_2013_Release/index.asp">California Firm Recalls Pork Pie Products Due to Misbranding and Undeclared Allergens</a>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<td>&nbsp;
		</td>
	</tr>
		<tr>
		<td align="center">
			<div>
				<i>Motor Vehicles</i>
				<div style="width:100px;height:100px;overflow-x:hidden;overflow-x:auto;"><br/><br/><br/></div>
			</div>
		</td>
		<td align="center">
			<div>
				<i>Child Safety Seats</i>
				<div style="width:100px;height:100px;overflow-x:hidden;overflow-x:auto;"><br/><br/><br/></div>
			</div>
		</td>
		<td align="center">
			<div>
				<i>Tires</i><br/>
				<div style="width:100px;height:100px;overflow-x:hidden;overflow-x:auto;"><br/><br/><br/></div>
			</div>
		</td>
	</tr>	<tr>
		<td align="center">
			<div>
				<i>Vehicle Emissions</i>
				<div style="width:100px;height:100px;overflow-x:hidden;overflow-x:auto;"><br/><br/><br/></div>
			</div>
		</td>
		<td align="center">
			<div>
				<i>Environmental Products</i>
				<div style="width:100px;height:100px;overflow-x:hidden;overflow-x:auto;"><br/><br/><br/></div>
			</div>
		</td>
		<td align="center">
			<div>
				<i>Boats and Boating Safety</i>
				<div style="width:100px;height:100px;overflow-x:hidden;overflow-x:auto;"><br/><br/><br/></div>
			</div>
		</td>
	</tr>	
</table>
