<% provide(:title, "Change Features") %>

<div class="center hero-unit">
  <h1 style="font-size:50px;">Welcome to the Product Recalls</h1>
  <h2>
    Change Features
  </h2>
</div>


<table align='center'>
	<tr>
		<td>
			<h2>Paid Subscribers</h2>
		</td>
	</tr>
	<tr>
		<td>
			<a href="#AlanChomsky" role="button"  data-toggle="modal">Alan Chomsky</a>
		</td>
		<td>
			<select>
				<option>Paid</option>
				<option>Basic</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>
			<a href="#"	>Rachel Down</a>
		</td>
		<td>
			<select>
				<option>Paid</option>
				<option>Basic</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>
			<a href="#"	>Richard Armstrong</a>
		</td>
		<td>
			<select>
				<option>Paid</option>
				<option>Basic</option>
			</select>
		</td>
	</tr>
	<br/>
	<br/>

<table align='center'>
	<tr>
		<td>
			<h2>Basic Subscribers</h2>
		</td>
	</tr>
	<tr>
		<td>
			<a href="#">Keith Townsend</a>
		</td>
		<td>
			<select>
				<option>Paid</option>
				<option selected>Basic</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>
			<a href="#"	>Robert Schultz</a>
		</td>
		<td>
			<select>
				<option>Paid</option>
				<option selected>Basic</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>
			<a href="#"	>Ferry Corsten</a>
		</td>
		<td>
			<select>
				<option>Paid</option>
				<option selected>Basic</option>
			</select>
		</td>
	</tr>
</table>
<p>
</p>
<!-- Button to trigger modal -->
    
     
    <!-- Modal -->
<div id="AlanChomsky" class="modal hide fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" style="display: none;">
<div class="modal-header">
<button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
<h3 id="myModalLabel">Alan Chomsky</h3>
</div>
<div class="modal-body">
<h4>Alan Chomsky</h4>
<p>Alan Chomsky</p>
<hr>
<p></p>
<p>Paid Subscriber</p>
<p>alan@chomsky.com</p>
<p>001 123 456 7890</p>
<p>Alerts on Email</p>
<p>Address</p>
<hr>
<h4>Types of Preferred Interaction</h4>
<p>1. Twitter: @alan</p>
<p>2. Email: alan@chomsky.com</p>
<p>3. Phone: 123 456 7890</p>
</div>
<div class="modal-footer">
<button class="btn btn-primary" data-dismiss="modal">Close</button>
</div>
</div>