<%= form_for :suppliers, :url => {:action => "create"} do |f|  %>
  
  <div class="field">
    <%= f.text_area :supplier, placeholder: "Add new Supplier..." %>
  </div>
  <%= f.submit "Add", class: "btn btn-large btn-primary" %>
<% end %>