<li id="<%= supplier_feed_item.id %>">
  <span class="content"><%= supplier_feed_item.supplier %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(supplier_feed_item.created_at) %> ago.
  </span>
</li>