<%= form_for :vendors, :url => {:action => "create"} do |f| %>

  <div class="field">
    <%= f.text_area :vendor, placeholder: "Add new vendor..." %>
  </div>
  <%= f.submit "Add", class: "btn btn-large btn-primary" %>
<% end %>