<li id="<%= vendor_feed_item.id %>">
  <span class="content"><%= vendor_feed_item.vendor %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(vendor_feed_item.created_at) %> ago.
  </span>
</li>