<% provide(:title, @user_name) %>

<div class="row">
	<ul class="nav nav-pills">
    	<li >
    		<a href="show">Search</a>
    	</li>
    	<!--<li class="active">
    		<a href="supplier">Supplier</a>
    	</li>-->
    	<li>
    		<a href="vendor">Vendors</a>
    	</li>
        <% if current_user.admin? %>
        <li >
          <a href="/admin_feature">Administrator settings</a>
        </li>
        <% end %>
    </ul>
  <div class="span8">
    <% if @user.histories.any? %>
      <h3>Suppliers (<%= @user.histories.count %>)</h3>
      <ol class="microposts">
        <%= render @histories %>
      </ol>
      <%= will_paginate @histories %>
    <% end %>
  </div>
</div>