<% provide(:title, @user_name) %>
<div class="row">
 <ul class="nav nav-pills">
      <li >
          <a href="/users/<%= params[:id] %>">
            Basic Details
          </a>
      </li>
      <!--<li>
        <a href="suppliers">Supplier</a>
      </li>-->
      <li>
        <a href="vendors/<%= params[:id] %>">Vendor</a>
      </li>
      <li class="active">
        <a href="histories/<%= params[:id] %>">History</a>
      </li>
    </ul>
  <div class="span8">
    
  </div>
<div id='chart'></div>
<%= render_chart(@chart, 'chart') %> 
</div>