<% @RecallBasic.each do |i| %>
<p>
	<%= i %>
</p>
<br/>
<% end %>



<br/>
<hr/>
<br/>

<% @RecallBasic1.each do |i| %>
<p>
	<%= i %>
</p>
<br/>
<% end %>




<br/>
<hr/>
<br/>

<% @RecallBasic3.each do |i| %>
<p>
	<%= i %>
</p>
<br/>
<% end %>




<br/>
<hr/>
<br/>

<% @RecallBasic4.each do |i| %>
<p>
	<%= i %>
</p>
<br/>
<% end %>