<% provide(:title, 'Register') %>

<h2>Please Register</h2>
 	<div class="row">
		<div class="span6 offset3">
			<p>Your subscription period as basic user has expired. Please</p>
			<p>subscribe for Pro version by clicking on following button</p>
			<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_xclick-subscriptions">
				<input type="hidden" name="business" value="buyer@musewerx.com">
				<input type="hidden" name="lc" value="US">
				<input type="hidden" name="item_name" value="Subscribe">
				<input type="hidden" name="src" value="1">
				<input type="hidden" name="a3" value="5.00">
				<input type="hidden" name="p3" value="1">
				<input type="hidden" name="t3" value="M">
				<input type="hidden" name="currency_code" value="USD">
				<input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribeCC_LG.gif:NonHosted">
				<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>  			
  	  	</div>
  	</div>
<% end %>