<% provide(:title, "Alan Chomsky") %>

<div class="center hero-unit">
  <h1 style="font-size:50px;">Welcome to the Product Recalls</h1>
  <h2>
    Profile-Alan Chomsky
  </h2>
</div>



<h4>Alan Chomsky</h4>
<p>Alan Chomsky</p>
<hr>
<p></p>
<div class="container">
	<div class="row-fluid">
<div class="span4">
				<h4>Basics</h4>
				<p>Paid Subscriber</p>
				<p>Alan Chomsky</p>
				<p>001 123 456 7890</p>
				<p>Alerts on Email</p>
				<p>Address</p>
	
	


	<a href="#BasicInfo" class="btn"  data-toggle="modal">Edit</a>
</div>
<br/>
<div class="sapn4">
<h4>Types of Preferred Interaction</h4>
<p>1. Twitter: @alan</p>
<p>2. Email: alan@chomsky.com</p>
<p>3. Phone: 123 456 7890</p>

	<a href="#ContactInfo" class="btn"  data-toggle="modal">Edit</a>
</div>
</div>
</div>

<div id="BasicInfo" class="modal hide fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" style="display: none;">
	<div class="modal-header">
		<button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
		<h3 id="myModalLabel">Alan Chomsky</h3>
	</div>
	<div class="modal-body">
		<p>Name:</p><input type="text" placeholder="Alan Chomsky">
		<hr>
		<p></p>
		<p>Paid Subscriber</p>
		<p>Email</p><input type="text" placeholder="alan@chomsky.com">
		<p>Phone</p><input type="text" placeholder="001 123 456 7890"> 
		<p>Alerts:</p>
		<select>
			<Option>on Email</option>
			<option>on Phone</option>
			<option>Both</option>
		</select>
		<p>Address:</p><input type="text" placeholder="Address">
		
		
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">Close</button>
				<a href="#" class="btn btn-primary">Save changes</a>
	</div>
</div>



<div id="ContactInfo" class="modal hide fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" style="display: none;">
	<div class="modal-header">
		<button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
		<h3 id="myModalLabel">Alan Chomsky</h3>
	</div>
	<div class="modal-body">
	
		<h4>Types of Preferred Interaction</h4>
		<p>1. Twitter: @alan</p>
		<p>2. Email: alan@chomsky.com</p>
		<p>3. Phone: 123 456 7890</p>
		
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">Close</button>
				<a href="#" class="btn btn-primary">Save changes</a>
	</div>
</div>


