<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Product Recalls", 'ChangeFeatures', id: "logo" %>

          <form class="navbar-search pull-left">
    <input type="text" class="search-query" placeholder="Search">
    </form>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Change Features",    'ChangeFeatures' %></li>
          <li><%= link_to "Change Alerts",    'ChangeAlerts' %></li>
          <li><%= link_to "Shift Subscribers", 'ShiftSubscriber' %></li>
        </ul>
      </nav>

    </div>
  </div>
</header>

